/* *{
    padding: 0;
    margin: 0;
} */

body {
    background-color: #26274564;
}

/* .angle-rect{
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
} */

.main {
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: row;
}

.calendar {
    height: 500px;
    width: 500px;
    padding-top: 205px;
    padding-left: 50px;
}

.calendar img {
    height: 500px;
    width: 462px;

}

.sub {
    padding-left: 400px;
    padding-top: 51px;
}

.cat {
    padding-bottom: 100px;
    padding-left: 100px;
}

.cat img {
    height: 164px;
    margin-left: -473px;
    margin-top: -33px;
}

.info {
    height: 390px;
    width: 406px;
    border-radius: 10px;
    margin-left: 200px;
    background-color: #23243C;
    margin-top: 182px;
    margin-left: 10px;
}

.info select {
    /* position: relative;
   display: inline-block; */
    width: 300px;
    height: 40px;
    margin-top: 50px;
    margin-left: 55px;
    text-align: center;
    padding: 1px;
    border-radius: 20px;
    color: #0d0e28b5;
}

.submit {
    height: 34px;
    width: 100px;
    background-color: #fff;
    margin-left: 152px;
    margin-top: 37px;
    text-align: center;
    border-radius: 20px;
    padding-top: 15px;
    color: #23243C;
    text-decoration: none;
    cursor: pointer;
}

.admin {
    height: 40px;
    width: 90px;
    background-color: transparent;
    color: #fff;
    padding-top: 10px;
    text-align: center;
    margin-left: 309px;

}

.admin a {
    color: #fff;
    text-decoration: none;
}